@model RestaurantReviewWeb.Models.Review

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <h3>Add a Review</h3>
        @using (Html.BeginForm("Add", "Reviews", FormMethod.Post))
        {
            @Html.Label("Name");<br />
            @Html.TextBox("sRestName");<br /><br />
            @Html.Label("Address");<br />
            @Html.TextBox("sAddress");<br /><br />
            @Html.Label("Rating");<br />
            @Html.TextBox("dRating");<br /><br />
            @Html.Label("Review Summary");<br />
            @Html.TextBox("sRevSummary");<br /><br />
            @Html.Label("Foreign Key");<br />
            @Html.TextBox("iFk_RId");<br /><br />
            <input type="submit" value="Add" />
        }
    </div>
</body>
</html>
