@model RestaurantReviewWeb.Models.Review

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <h3>Edit a Review</h3>
        @using (Html.BeginForm("Update", "Reviews", FormMethod.Post))
        {
            @Html.Label("Name");<br/>
            @Html.TextBox("rName");<br/><br/>
            @Html.Label("Address");<br/>
            @Html.TextBox("rAddress");<br/><br/>
            @Html.Label("Rating");<br/>
            @Html.TextBox("rRating");<br/><br/>
            @Html.Label("Summary");<br/>
            @Html.TextBox("rSummary");<br/><br/>
            <input type="submit" value="Add" />
        }
    </div>
</body>
</html>
